[user]
	name = fakiyer
	email = fakiyer@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim -c \"set fenc=utf-8\"
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
[diff]
	compactionHeuristic = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[web]
	browser = google-chrome
[init]
	templatedir = ~/.git_template
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[color]
	ui = true
[alias]
  delete-merged = !git checkout master && git branch --merged | grep -v '*' | xargs -I % git branch -d %
[ghq]
	root = ~/src
