"*":
  "atom-beautify":
    _analyticsUserId: "2f9444de-5b05-4540-bb34-5904ba065a5f"
    general:
      _analyticsUserId: "f94becbd-c6f1-4407-8926-4b87e35d8069"
  "atom-terminal":
    app: "/Applications/iTerm.app"
  core:
    audioBeep: false
  editor:
    fontFamily: "Ricty Diminished"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "c8108de1-b3b8-b018-6bc1-436050e572ef"
  linter:
    errorPanelHeight: 100
  "linter-eslint": {}
  "linter-jscs":
    esnext: true
  "linter-jshint": {}
  "one-dark-ui": {}
  react: {}
  "remote-edit": {}
  "seti-syntax": {}
  "seti-ui":
    compactView: true
    font: "Default Atom Font"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
