"*":
  "exception-reporting":
    userId: "c8108de1-b3b8-b018-6bc1-436050e572ef"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
  editor:
    invisibles: {}
    fontFamily: "Ricty Diminished"
    fontSize: 13
  "one-dark-ui": {}
  react: {}
  linter:
    errorPanelHeight: 100
  "atom-beautify": {}
