"*":
  "atom-beautify":
    _analyticsUserId: "2f9444de-5b05-4540-bb34-5904ba065a5f"
  core:
    audioBeep: false
  editor:
    fontFamily: "Ricty Diminished"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "c8108de1-b3b8-b018-6bc1-436050e572ef"
  linter:
    errorPanelHeight: 100
  "linter-jscs":
    esnext: true
  "one-dark-ui": {}
  react: {}
  "remote-edit": {}
  welcome:
    showOnStartup: false
